<div class="row justify-content-center">
    <div class="col-md-6 back-trans">

        <h1 class="font-weight-bold text-warning">Log In</h1>

        <form action="/login" method="POST">
            <div class="form-group">
                <label for="field1" class="font-weight-bold text-warning">Username</label>
                <input name="username" type="text" class="form-control" id="field1" placeholder="Party!!!!">
            </div>
            <div class="form-group">
                <label for="field2" class="font-weight-bold text-warning">Password</label>
                <input name="password" type="password" class="form-control" id="field2" placeholder="No aceptamos pulpo">
            </div>

            <button type="submit" class="btn btn-dark btn-block btn-lg">Log In</button>

            {{#if errorMsg}}
            <div id="errorMsg">{{{errorMsg}}}</div>
            {{/if}}

        </form>

        <p class="font-weight-bold text-warning">Don't have an account? <a class="text-white" href="/signup">Sign Up!</a></p>
    </div>
</div>