<h1 class="text-center font-weight-bold text-warning">{{title}}</h1>
<p class="text-center font-weight-bold text-white">Welcome to the best search engine for magic cards, where you can create your own list of cards and sets!</p>

<p class="text-center font-weight-bold ">
    <a class="btn btn-light btn-lg text-dark" href="/signup">Sign Up</a>
    <a class="btn btn-secondary btn-lg" href="/login">Log In</a>
</p>