<div class="row justify-content-center">
    <div class="col-md-6">

        <h1>Create your deck</h1>

        <form action="/profile/createdeck" method="POST">

            <div class="form-group">
                <label for="name">Name of deck</label>
                <input name="name" type="text" class="form-control" id="name">
            </div>
            
            <button type="submit" class="btn btn-dark btn-block btn-lg">Create the deck</button>
                    
        </form>
    </div>
</div>